* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    font-size: 1.07em;
    margin:0;
    padding: 0;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
    padding: 5px;
}
/* header */
#stickySideMenu {
    position: sticky;
    top: 45%;
    float: right;
    border-radius: 3px 0 0 3px;
    text-align: center;
    padding: 5px;
    background-color: #286D2F;
    color: white;
    width: 50px;
    z-index: 10;
}
#stickySideMenu img {
    width: 50%;
}
header {
    position: relative;
    background: url('images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}
#midLineHeader {
    background-color: rgba(6, 48, 30, 0.7);
    box-shadow: rgba(30, 110, 67, 0.7) 0px 2px 8px 0px;
    height: 30%;
    width: 100%;
    position: absolute;
    top: 35%;
}
h1 {
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 3em;
}
#sejour {
    border: 1px solid white;
    border-radius: 3px;
    top: 60%;
    right: 10%;
    text-align: center;
}
#visa {
    border-radius: 0 3px 3px 0;
    text-align: right;
    top: 5%;
    left: 0;
}
#visa, #sejour {
    background-color: #135019;
    width: 20%;
    padding: 15px;
    position: absolute;
}
/* navigation bar */
#navDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 10px;
}
nav {
    display: flex;
    flex-flow: row nowrap;
}
nav a {
    transition: all 0.3s;
}
nav a:hover {
    font-size: 1.2em;
    color:#46a550;
}
#dropDown {
    display: flex;
}
#dropdownnav-content {
    display: none;
    position: absolute;
    top: 50px;
    font-size: smaller;
    background-color: #135019;
    min-width: 50px;
    box-shadow: 0 3px 8px 0 grey;
    border-radius: 3px;
    padding: 5px;
    z-index: 1;
}
#dropdownnav-content li {
    padding: 10px;
    list-style: none;
}
#dropdownnav-content a:hover {
    transition: all 0.2s;
    font-size: 1em;
    color:#b6a209;
}
#dropDown:hover #dropdownnav-content {
    display: block;
}
/* page 2 */
#p2top {
    position: relative;
    background-color: #06301e;
    height: 60vh;
    color: white;
    padding: 50px;
}
#p2btm {
    background-color: #F5F5F5;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}
#sidebgimage {
    position: absolute;
    top: 10%;
    right: 0;
    background: url('images/1.jpg');
    width: 50%;
    height: 80%;
}
#p2deco {
    position: absolute;
    top: 33%;
    left: 15%;
    background-color: #041f13;
    width: 50%;
    height: 33%;
}
#decouvrir {
    margin-left: 20%;
    font-size: 1.2em;
}
#verticalh2 {
    position: absolute;
    left: 12%;
    top: 45%;
    font-weight: 100;
    transform: rotate(-90deg);
}
#p2top ul {
    list-style: none;
    position: absolute;
    top: 35%;
    left: 20%;
    width: 35%;
}
#p2top li {
    margin-top: 20px;
}
#p2btm div {
    width: 25%;
}
#p2btm h4 {
    color:#46a550;
}
/* page 3 */
#p3 {
    position: relative;
    background: url('Images/3.jpg');
    height: 100vh;
    padding: 40px;
    text-align: center;
}
#p3 h2, #p3 h3, #p3 h4{
    color: rgb(242, 235, 185);
}
#p3 h2 {
    font-size: 1.5em;
}
#p3 h3 {
    font-weight: 100;
    margin-bottom: 20px;;
}
#h2sortir {
    position: absolute;
    right: 0;
    top: 10%;
    height: 10%;
    margin-top: 10px;
    border: 1px solid #041f13;
    width: 75%;
}
#decop3 {
    position: absolute;
    right: 0;
    top: 33%;
    height: 33%;
    width: 65%;
    background-color: rgba(6, 48, 30, 0.7);
}
#deco2p3 {
    position: absolute;
    top: 40%;
    right: 35%;
    height: 35%;
    width: 30px;
    background-color: rgba(70, 165, 80, 0.5);
}
#columns {
    font-size: smaller;
    display: flex;
    width: 50%;
    margin: 120px auto 10px auto;
    justify-content: space-evenly;
}
#colLeft, #colRight {
    text-align: left;
    z-index: 1;
}
#colLeft div {
    margin-bottom: 10px;
}
#colRight img {
    width: 40px;
    margin-bottom: 30px;
}
#bottomBoxP3 {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #fff;
    color:#fff;
    text-align: left;
}
#bottomBoxP3 li {
    margin-left: 20%;
}
/* about */
#about {
    padding: 40px;
    background-color: #041f13;
    text-align: center;
    color: white;
}
#about h2 {
    color: #7c7753;
    font-size: 1.5em
}
#about p {
    margin: 20px auto;
    width: 60%;
}
#about a {
    color:rgb(242, 235, 185);
    font-weight: 300;
    font-style: italic;
    margin: 10px;
}
/* page 4 */
#p4 {
    background: url('images/2.jpg');
    height: 100vh;
    padding: 30px;
}
#p4 h2 {
    text-align: right;
    color: white;
    background-color: rgba(6, 48, 30, 0.3);
    margin-left: 55%;
    width: 30%;
    padding: 15px;
    border-radius: 5px;
}
#p4container1, #p4container2 {
    background-color: #135019;
    box-shadow: #135019 0px 3px 8px;
    border-radius: 5px;
    color: white;
    padding: 20px;
}
#p4container1 {
    position: relative;
    width: 25%;
    height: 50%;
    margin: 50px 50px 50px 60%;
}
#last {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#p4container2 {
    width: 20%;
    margin-left: 65%;
}
/* page 5 */
#p5 {
    position: relative;
    background-color: #06301e;
    height: 100vh;
    color: white;
    padding: 30px 0;
    text-align: center;
}
#bgStrike {
    z-index: 1;
    position: absolute;
    left: 20%;
    top: 0;
    background-color: rgba(70, 165, 80, 0.3);
    width: 20%;
    height: 100%;
}
#slideshow {
    width: 50%;
    height: 50%;
    margin: 10px auto;
    position: relative;
    z-index: 5;
}
#content {
    position: relative;
	margin: 0 auto;
    padding: 10px;
	height: 100%;
	overflow: hidden;
    border-radius: 20px;
    background-color: #041f13;
}
#slideshow img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(70, 165, 80, 0.3) 0px 1px 2px 0px, rgba(70, 165, 80, 0.3) 0px 2px 6px 2px;
}
#links {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
#previous {
    border-radius: 0 0 0 20px;
}
#next {
    border-radius: 0 0 20px 0;
}
#previous, #next {
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
#previous:hover , #next:hover {
    background-color: rgb(0, 0, 0);
    color:rgb(242, 235, 185)
}
.fadeinimg {
	animation : fadein 1s;
	width : 100%;
}
@keyframes fadein {
	from {
		opacity : 0;
	} to {
		opacity : 1;
	}
}
#infopratique {
    position: relative;
    z-index: 2;
}
#infopratique .col {
    float: left;
    width: 35%;
    margin-left: 15%;
    padding: 30px;
    text-align: justify;
}
#button {
    display: block;
    float: right;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color:#46a550;
    font-size: smaller;
    border: none;
    border-radius: 20px;
    width: 150px;
}
#button:hover, #p4container2:hover, #visa:hover, #sejour:hover {
    box-shadow: #286D2F 0px 2px 8px 0px;
    color:rgba(182, 162, 9, 0.9);
}
.socialmedia {
    width: 30px;
    margin-bottom: 20px;
    transition: all 0.5s;
}
.socialmedia:hover {
    width: 35px;
}
#ourWebSite {
    color:#46a550;
    transition: all 0.3s;
}
#ourWebSite:hover {
    font-size: 1.2em;
}
footer {
    background-color: #041f13;
    color: white;
}
#footer {
    display: flex;
    flex-direction: row wrap;
    font-size: 0.9em;
    line-height: 2;
}
#footer h4 {
    color: #7c7753;
    margin-bottom: 10px;
}
#footer p, #footer li {
    font-size: 0.7em;
}
#aboutFooter {
    width: 40%;
    padding: 40px;
    text-align: justify;
}
.footerCol {
    padding: 40px;
    width: 20%;
}
#copyRights {
    background-color: black;
    padding: 10px;
    text-align: center;
}
.bgimg, #sidebgimage, #p3, #p4 {
    background-size: cover;
    background-position: center;
}
@media (max-width: 1200px) {
    * {
        font-size: 1em;
    }
    #colRight img {
        width: 20px;
    }
    #deco2p3 {
        top: 35%;
    }
}
@media (max-width: 730px) {
    #sejour {
        top: 80%;
        right: 10%;
    }
    #aboutFooter {
        width: 100%;
        padding: 40px;
        text-align: justify;
    }
    #footer div.footerCol {
        padding: 10px;
        width: 30%;
    }  
}
@media (max-width: 670px) {
    #footer div.footerCol {
        width: 100%;
    }
}